.Psection {
    min-height: 100vh;
    background: rgb(1, 48, 63);
    color: rgb(194, 232, 255);
}

.Psectioncontent{
    max-width: 80vw;
    margin: 0 auto;
    cursor: pointer;
}
a{
    cursor: pointer;
}