/* .Ssection {
    min-height: 100vh;
    background: #fff;
    color: #333;
} */

.skills-page{
  width: 100vw;
  min-height: 100vh;
  background-color: rgb(226,212,212);
}
.skills-container {

    min-height: 100vh;
    padding: 24px;
  }

  
  .skills-grid {
    display: flex;
    justify-content: center;
    gap: 180px;
  }
  
  .skill-category {
    flex: 1;
    max-width: 300px;
  }
  
  .skill-card {
    font-size: 25px;
    transition: transform 0.3s ease-in-out;
  }
  
  .skill-card:hover {
    transform: translateY(-5px);
  }
  
  .category-card {
    margin-bottom: 30px;
    cursor: pointer;
  }
  
  .category-title {
    color: #1976d2;
    font-weight: bold;
  }
  
  .technologies-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 16px;
  }
  
  .tech-card {
    text-align: center;
    padding: 16px;
    min-width: 150px;
  }

  .tech-info {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
  }
  .tech-logo {
    width: 60px;
    height: 60px;
    margin-right: 8px;
    object-fit: contain;
  }
  
  .stars-container {
    display: flex;
    justify-content: center;
    margin-top: 15px;
  }
  
  .star-icon {
    color: #bdbdbd;
  }
  
  .star-icon.filled {
    color: #ffc107;
  }
  
  .expand-icon {
    display: none;
  }



  /* -------------------------empieza las pantallas pequeñas 900px  ------------------ */



  @media (max-width: 900px) {
    .skills-grid {
      flex-direction: column;
      align-items: center;
    }
  
    .skill-category {
      width: 100%;
      max-width: none;
    }

    .technologies-grid {
      grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    }

  }
  
/* -------------------------empieza las pantallas pequeñas 600px  ------------------ */


  @media (max-width: 600px) {
    .skills-container {
      padding: 16px;
    }

    .skill-card {
      font-size: 15px;
    }

    .tech-logo {
      width: 30px;
    height: 30px;
    }

    .skills-grid{
      gap: 0;
    }
  
    .technologies-grid {
      display: none;
    }
  
    .technologies-grid.expanded {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 8px;
    }
  
    .category-card {
      position: relative;
    }
  
    .expand-icon {
      display: block;
      position: absolute;
      right: 16px;
      top: 50%;
      transform: translateY(-50%);
    }
  }